.box-title {
    margin: auto;
    padding-top: 5vh;
    text-align: center;
}
.box-content {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    text-align: center;
}
.box-explain {
    display: flex;
    justify-content: space-between;
    width: 95%;
    border-bottom: solid 2px black;
    font-weight: bold;
}
.box-list {
    display: flex;
    align-items: center;
    width: auto;
    min-width: 50%;
    max-width: 65%;
    height: 5%;
}
.box-edit {
    display: flex;
    min-width: 100px;
    height: 5%;
}