.container {
    min-height: 100vh;
    width: 100vw;
    background-color: #dcdcdc;
    padding-bottom: 30px;
}
.container-list {
    width: 80%;
    max-width: 500px;
    min-height: 50%;
    margin: auto;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: white;
}
.wrap-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    width: 100%;
}